.standard-btn {
	display: inline-block;
	margin: 10px 10px 10px 0;
	padding: 12px 16px;
	overflow: hidden;
	cursor: pointer;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none !important;
	-webkit-transition: .2s background ease;
		-moz-transition: .2s background ease;
		  -o-transition: .2s background ease;
		 -ms-transition: .2s background ease;
			  transition: .2s background ease;
}

.green-btn {
	background-color: #468966;
}

img.align-right {
	float: right;
	margin-left: 18px;
}