/*
 Theme Name:   Norfolk Roots Theme
 Theme URI:    http://norfolkroots.ca
 Description:  Custom theme for Norfolk Roots
 Author:       Adam Wills
 Author URI:   https://adamwills.io
 Template:     dorayaki
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  roots
*/

body {
	background-color: #F2E5D8;
}

a:focus {
	background-color: #468966;
	color: #fff !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#masthead {
	border-top: 5px solid #468966;
}

.headerinfo-wrap #site-title {
	border-top: none;
}

#site-title h1 {
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}


.section-intro {
	background-size: cover;
	background-position: center;

}

.section-intro .section-wrap {
	background: rgba(255,255,255,0.85);
	padding: 40px;
	margin: 20px auto 0px;
}

.section-intro p:last-of-type {
	margin-bottom: 0;
}

.section-info h2 {
	margin-bottom: 0.5em;
}

.home #site-content h2 {
	font-size: 2.5em;
	text-align: center;
}

.section-info h3 {
	font-size: 1.7em;
	margin-bottom: 0.7em;
	text-align: center;
}

.section-info p {
	font-size: 1.1em;
	line-height: 1.5em;
	margin-bottom: 1em;
}


.section-info p:last-of-type {
	align-self: center;
}

.green-btn {
	background-color: #468966;
}

.green-btn:hover, .green-btn:focus {
	background-color: #36694E;
}

.black-btn {
	background-color: #111;
	color: #468966;
}

.team-member .overlay {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition:    all .2s ease-in-out;
	-ms-transition:     all .2s ease-in-out;
	-o-transition:      all .2s ease-in-out;
	transition:         all .2s ease-in-out;
}

.section-events {
	background-color: #f4f4f4;
}

.team-member-image img {
	border-radius: 50%;
	margin-bottom: 0;
	border: 6px solid #468966;
}

.team-member-name {
	text-align: center;
}

.team-category-title {
	font-size: 2.3em;
	text-transform: uppercase;
	position: relative;
}

.section-wrap {
	padding: 25px 20px;
}

.post-type-archive-team .team {
	margin-bottom: 30px;
}

.tribe-list-widget {
	padding-left: 0;
}

.tribe-events-list-separator-month {
	font-size: 24px;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.tribe-events-notices {
	background-color: #468966;
	border: 1px solid #468966;
	border-radius: 0;
	color: #fff;
	text-shadow: none;
}


h2.tribe-events-page-title {
	font-family: 'Domine', Georgia, serif;
    font-size: 28px;
    line-height: 1.3;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
}

.page .entry-content h2 span {
	background-color: transparent;
}

.tribe-events-list-widget ol li {
	margin-bottom: 10px;
}

.tribe-events-schedule h2 {
	display: inline;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
    vertical-align: baseline;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
    font-size: 1.4em;
}

#tribe-events-header .tribe-events-sub-nav { display: none; }

#colophon, #colophon h3, #colophon a {
	color: #111;
}

#colophon {
	padding: 50px 0 0;
}

#footerwidget-wrap .widget-area {
	border-top-color: #111;
}

#footerwidget-wrap {
	padding: 0 20px;
}

.footerlabel {
	background-color: #111;
}
.footerlabel-title {
	text-transform: none;
}

#colophon #site-info {
	background-color: #DEDCD8;
	padding: 10px 0;
}

#colophon p.credittext {
	margin: 0;
}

#colophon a.black-btn {
	color: #468966;
}

.ninja-forms-cont .list-dropdown-wrap {
	position: relative;
}

.ninja-forms-cont .list-dropdown-wrap:after {
	content: "▼";
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 2;
	pointer-events: none;
}

.ninja-forms-cont .list-dropdown-wrap select {
	outline: none;
	border: 1px solid #3f3f3f;
	-webkit-appearance: none;
	display: block;
	padding: 8px 2%;
	margin: 0;
	transition: border-color 0.2s;
	line-height: 1.6;
	font-family: inherit;
	font-size: 1rem;
	border-radius: 0;
	background-color: transparent;
}

.ninja-forms-cont .list-dropdown-wrap select:hover, .ninja-forms-cont .list-dropdown-wrap select:focus {
	background-color: #fff;
}




@media screen and (min-width: 500px) {
	.section-wrap {
		padding: 50px 50px;
	}
}

.widget-area .widget h3.widget-title {
	font-size: 1.5rem;
}

.front-page-events {
	padding-left: 0;
	list-style: none;
	margin: 0 -1rem 2rem;
}

.front-page-events li {
	border: 1px solid #D8D8D8;
	padding: 30px 50px;
	margin: 0 1rem 1rem;
}

.front-page-events + .link-all-events {
	text-align: center;
}

.front-page-events .event-title {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 0.5em;
}

.front-page-events .event-date {
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 0.5em;
}
.front-page-events .more-link {
	display: none;
}

.home #site-content h2 {
	position: relative;
}

.home #site-content h2:after, .team-category-title:after {
	content: " ";
	border-bottom: 1px solid #D0D0D0;
	height: 1px;
	position: absolute;
	width: 8em;
	bottom: -20px;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
}

.team-category-title:after {
	left: 0;
	transform: none;
	width: 100%;
}

body.links .entry-content li {
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.section-info .standard-btn {
		display: block;
	}

	.team-member .overlay-details span {
		display: none;
	}

	.team-member + .team-member {
		margin-top: 80px;
	}
}




@media screen and (min-width: 768px) {

	.flex-columns {
		display: flex;
		justify-content: space-between;
	}

	.flex-column {
		flex: 1;
		padding: 0 2rem 0;
		display: flex;
		flex-direction: column;
	}

	.section-intro {
		display: flex;
		height: calc(100vh - 180px);
		flex-direction: column;
    	justify-content: center;
	}

	.section-intro .section-wrap {
		margin: 20px auto 80px;
	}

	.menu {
		display: flex;
		justify-content: space-between;
	}

	#site-nav {
		background-color: #468966;
	}

	#menu-main-navigation li {
		margin-right: 0;
	}

	#menu-main-navigation > li > a {
		color: #fff;
	}

	.front-page-events {
		display: flex;
		justify-content: space-around;
	}

	.front-page-events li {
		display: flex;
		flex-direction: column;
		flex-basis: 0;
		flex-grow: 1;
		max-width: 33%;
		margin-bottom: 0;
	}



	.section-info .flex-column {
		justify-content: space-between;
	}

	.section-info .flex-column p:first-of-type {
		flex: 1;
	}


	#site-title h1 {
		letter-spacing: initial;
	}

	img.wp-post-image {
		margin-bottom: 0;
	}

	h2.tribe-events-page-title {
		font-size: 46px;
		margin: 0 0 34px;
	}

	.team-grid {
		margin-left: -30px;
		margin-right: -30px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.team-member {
		width: 25%;
		text-align: center;
		padding: 0 30px;
		margin-bottom: 30px;
	}

	.team-member a {
		position: relative;
		display: block;
	}

	.team-member-name {
		color: #fff;
	}

	.overlay {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #333;
		-ms-filter: "alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		z-index: 0;
		border-radius: 50%;
	}

	.overlay:hover {
		-ms-filter: "alpha(Opacity=96)";
		filter: alpha(opacity=96);
		opacity: .96;
	}

	.overlay-inner  {
		width: 100%;
		height: 100%;
		display: table;
		overflow: hidden;
	}

	.overlay-details {
		display: table-cell;
		padding: 16px;
		vertical-align: middle;
		position: relative;
		z-index: 3;
	}

	.home .entry-content p {
		font-size: 1.4em;
	}



	.page .entrty-header h1.entry-title {
		margin-bottom: 17px;
	}

	.post-type-archive-team .team-member-thumbnail img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		float: left;
		margin-right: 30px;
	}

	.single-team .team-profile-image {
		max-width: 40%;
		float: left;
		margin-right: 15px;
	}

	.single-team .team-profile-image img {
		border-radius: 50%;
	}
}

@media screen and (min-width: 1024px) {
	.section-wrap {
		max-width: 800px;
		margin: 0 auto;
		padding: 60px 0;
		overflow: hidden;
	}

	#nav-single {
		margin-left: 0;
	}

	#colophon #site-info {
		max-width: none;
	}
}

@media screen and (min-width: 1260px) {
	#site-title {
	    display: flex;
	    align-items: center;
	    padding: 15px 0;
	}

	#site-nav ul {
		border-top: none;
	}

	#site-title .logo {
		margin-right: 15px;
	}

	#site-nav #menu-main-navigation > li:hover > a {
		color: #ddd;
	}

	a#desktop-search-btn {
	    margin-top: 12px;
	}

	#search-wrap {
		margin-top: 27px;
	}

	.section-wrap {
		max-width: 1180px;
	}

	#colophon .credit-wrap {
		max-width: none;
		float: none;
		padding: 0;
	}

	#colophon p.credittext {
		text-align: center;
	}
}

select.nf-element {
    padding: 8px 2%;
    background: none;
    border: 1px solid #3f3f3f;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    color: #3f3f3f;
    line-height: 1.6;
    outline-color: transparent;
    outline-style: none;
}

select.nf-element:hover, select.nf-element:focus {
   background: white;
}

input[type="email"],
input[type="tel"] {
	padding: 8px 2%;
	background: none;
	border: 1px solid #3f3f3f;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	color: #3f3f3f;
	line-height: 1.6;
	-webkit-appearance: none;
	outline-color: transparent;
	outline-style: none;
}

input[type="email"]:hover,
input[type="email"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus {
	background: #fff;
}